*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }

body{
    
    background-image: linear-gradient(to top, #0cb56a, #38a953, #4b9d3d, #589128, #618512);
}

h1{
    font-family: 'Anton', sans-serif;
    font-family: 'Rubik Storm', cursive;
    color: rgb(3, 59, 42);
    text-align: center;
    font-size: 100px;
    margin-top: 180px;
    font-style: oblique;
    
}



.container{
    display: flex;
    justify-content: center;
    justify-items: center;
}

h1:hover{
    color: rgb(77, 4, 7);
    border-radius: 10px;
    border: 2px gray;
}

footer{
    margin-top: 157px;
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 50px;
    background-color: rgb(3, 65, 38);
}

p{
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.624);
    text-align: center;
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav{
    width: 100%;
    height: 75px;
    background-color: rgb(81, 169, 5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

h2{
    color: hsl(306, 88%, 9%);
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

button{
    width: 500px;
    height: 90px;
    border-radius: 10px;
    margin-top: 800px;
    background-color: rgb(19, 22, 87);
    color: rgb(246, 243, 243);
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    border: 4px solid rgb(166, 76, 100);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: initial;
}

button:hover{
    background-color: rgb(27, 27, 226);
    border: 5px solid black;
   
}